// 创建project
CREATE TABLE project (
    id INTEGER PRIMARY KEY,
    project_id VARCHAR(255),
    connection_info VARCHAR(255),
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);
// 初始化project
INSERT INTO project (project_id, connection_info) VALUES ('default', '{"db_url": "mongodb://localhost:27017/", "database_name": "my_database" }');

// 创建model
CREATE TABLE model (
    id INTEGER PRIMARY KEY,
    model_name VARCHAR(255),
    namespace VARCHAR(255) DEFAULT 'default',
    project_id VARCHAR(255),
    schema VARCHAR(255),
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    UNIQUE (project_id, model_name)
);
// 初始化model_context
INSERT INTO model (model_name, project_id, schema) VALUES ('user', 'default', '{"$schema":"http://json-schema.org/draft-07/schema#","type":"object","properties":{"id":{"type":"string","format":"xShortText"},"name":{"type":"string","format":"xShortText"},"age":{"type":"number","format":"xNumber"},"email":{"type":"string","format":"email"}},"required":["name","age"]}')
INSERT INTO model (model_name, project_id, schema) VALUES ('profile', 'default', '{"$schema":"http://json-schema.org/draft-07/schema#","type":"object","properties":{"id":{"type":"string","format":"xShortText"},"biography":{"type":"string","format":"xShortText"},"userId":{"type":"string","format":"xShortText"},"user":{"type":"object","properties":{},"format":"xManyToOne","xRelation":{"field":"userId","reference":{"field":"id","model_name":"user"}}}},"required":["biography"]}')
